{% extends 'base.html.twig' %}

{% block title %}New Platform{% endblock %}

{% block body %}
<section class="plat d-flex justify-content-center align-items-center flex-column">
    <h1>Create new Platform</h1>

    {{ include('platform/_form.html.twig') }}

    <a class="btn btn-voirplus mb-1 ml-3" href="{{ path('platform_index') }}">back to list</a>
</section>

{% endblock %}